## Python Basic Assignments - Assignment 2

## 1.What are the two values of the Boolean data type? How do you write them?

Answer: Boolean data type has two values: True and False.

In [1]:
print(True)
print(type(True))
print(False)
print(type(False))

True
<class 'bool'>
False
<class 'bool'>

Above is confirming type of True and False are Boolean

As we know True is 1, False is 0, we can cross check here by executing

In [4]:
##Check 1
a = 1
print(bool(a))

##Check 0
a = 0
print(bool(a))

True
False

In [5]:
##we can check given equality is true or false using boolean
a = 10
b = 15
print(bool(a==b))

False

In [6]:
## Boolean is data type, gives a result (True or False)  for given data types are null or not
##Examples:

In [18]:
##For string 

##non empty string
b = "ineuron"
print(bool(b))

##empty string
c = ""
print(bool(c))

##string having space
a = " "  
print(bool(a))

True
False
True

In [21]:
True+True #here we can conclude True = 1 and false = 0

2

In [22]:
False+True

1

In [23]:
True+False

1

In [24]:
False+False

0

## 2. What are the three different types of Boolean operators?

AND boolean operator in Python
OR boolean operator in Python
NOT boolean operator in Python

In [27]:
#AND boolean operator in Python
True and True

True

In [28]:
True and False

False

In [29]:
False and True

False

In [30]:
False and False

False

In [24]:
c = 50
d = 45

if (c > 30 and  d == 45):
    print("True")

else:
    print("Flase")

True

In [ ]:
#OR boolean operator in Python

In [28]:
True or True

True

In [29]:
True or False

True

In [30]:
False or True

True

In [31]:
False or False

False

In [35]:
##as petr above if anyone satisiy correct , it will show as true
c = 38
d = 40

if (c > 30 or  d == 45):
    print("True")

else:
    print("Flase")

True

In [25]:
#NOT boolean operator in Python

In [26]:
not(True)

False

In [27]:
not(False)

True

In [37]:
a = 5
b = 5

if (not(a==b)):
    print("a and b are not equal")
    
else:
    print("a and b are equal")

a and b are equal

above example we receving output from else

## 3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

AND boolean operator in Python

In [38]:
True and True

True

In [39]:
True and False

False

In [40]:
False and True

False

In [41]:
False and False

False

OR boolean operator in Python

In [42]:
True or True

True

In [43]:
True or False

True

In [44]:
False or True

True

In [45]:
False or False

False

In [ ]:
#NOT boolean operator in Python

In [46]:
not(True)

False

In [47]:
not(False)

True

## 4. What are the values of the following expressions?

(5 &gt; 4) and (3 == 5)

not (5 &gt; 4)

(5 &gt; 4) or (3 == 5)

not ((5 &gt; 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

In [49]:
(5 > 4) and (3 == 5) 

##Here output is false, beacuse  5>4 is True , 3==5 is False,from  AND boolean operator ,
## True and False results False

False

In [53]:
not (5 > 4)

##Here output is false, beacuse  5>4 is True , from 'NOT boolean operator' should give reverse result
## not(true) results False

False

In [54]:
(5 > 4) or (3 == 5)

##Here output is True, beacuse  5>4 is True , 3==5 is False,
##OR boolean operator - True or False results True

True

In [55]:
not ((5 > 4) or (3 == 5))

##Here output is False, beacuse  5>4 is True , 3==5 is False, 
## OR boolean operator -  True or False results True
## after applying - NOT boolean operator - it should give reverse results 
## hence result is False

False

In [60]:
(True and True) and (True == False)

##Here output is False, beacuse  
## from  AND boolean operator - True and True results True
## here given is True == False
## final  statement will be True and False
## from  AND boolean operator - True and False results False 
## hence result is False

False

In [57]:
(not False) or (not True)

##Here output is True, beacuse 
## from -  NOT boolean operator - not False results True
## from -  NOT boolean operator - not True results False
## finally we get 'True or False' - From OR boolean operator - True or False results True

True

## 5. What are the six comparison operators?

== 

Checking the two operands are equal

In [65]:
a = 5
b = 5

a==b

True

In [66]:
a = 10
b = 5

a==b

False

!= 

Checking the two operands are not equal

In [67]:
a = 5
b = 5

a!=b

False

In [68]:
a = 10
b = 5

a!=b

True

>

 value of left operand is greater than the value of right operand

In [69]:
a = 10
b = 5

a>b

True

In [70]:
a = 2
b = 5

a>b

False

<

value of left operand is less than the value of right operand

In [72]:
a = 2
b = 5

a<b

True

In [71]:
a = 10
b = 5

a<b

False

>=

value of left operand is greater than or equal to the value of right operand

In [73]:
a = 10
b = 5

a>=b

True

In [74]:
a = 5
b = 5

a>=b

True

In [75]:
a = 2
b = 5

a>=b

False

<=

value of left operand is less than or equal to the value of right operand

In [76]:
a = 10
b = 5

a<=b

False

In [77]:
a = 5
b = 5

a<=b

True

In [78]:
a = 2
b = 5

a<=b

True

## 6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

= is an assignment operator and == is an equality operator

where assignment operator used to assign value to varibale , ie. x =2.

where equality operator used to whether 2 expressions give the same value or not. ie. x==y.

In [2]:
#here beolow example we given value to x  &y variable using assignment operator (=)
x = 10
y = 15

In [3]:
#here we are checking , where x & y having same value or not, if it's same gives True otherswise results will be Fsalse
x==y

False

## 7. Identify the three blocks in this code:


spam = 0

if spam == 10:

print('eggs')

if spam > 5:

print('bacon')

else:

print('ham')

print('spam')

print('spam')

In [20]:
spam = 0

if spam == 10:
    print('eggs')

if spam > 5:
    print('bacon')

else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

Here above example having three blocks
Blocks are sepearted by indentation & this seperated the code from block to block
we find 1st if statement to Print('eggs') as one block, next if statemnet to Print('bacon') as next block, from else stament & all prints are last block

## 8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [12]:
spam = "ineuron"

if spam == 1:
    print("Hello")

elif spam == 2:
    print("Howdy")

else:
    print("Greetings!")
    
##above code input is not used beacause, question is asked for except 1 & 2 results greetings, 
## if i applied input, 1 & 2 are  results greetings only , actual need is hello & howdy
## if i applied input with int, for sting above code will not work

Greetings!

## 9.If your programme is stuck in an endless loop, what keys you’ll press?

we can use Ctrl+C

## 10. How can you tell the difference between break and continue?

1) Break stops/eliminates execution of remamining iteration of loop
    Continue erminate only the current iteration of loop.

2) Break - early terminates the  loop
    Continue - early execution of next iteration

## 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

In [13]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range (0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range (0, 10, 1):
    print(i)

0
1
2
3
4
5
6
7
8
9

in above three outputs, results are same
in general range having three type parameter - range(starting value, ending value, increment value)
in first example [range(10)] - considered given value as ending value & by default for loop consider starting value & increment values as 1, when not given
in second example [range(0,10)] - here the two values considered as  starting value, ending value respectively, increment value considered as 1 by default.
in third example [(0, 10, 1)] - here given values are starting value, ending value, increment value

increment value - increment the sequence

## 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [18]:
##for loop
for i in range (1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
## while loop
i = 1
while i <= 10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

## 13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

Module is program, which contain function, class & variables
inside module we can create n number of functions

in above example spam is module & bacon() is inside function

In [ ]:
##first we need to import module
import spam

In [ ]:
## once import the module, we need to call function after the module
spam.bacon()