## Python Basic Assignments - Assignment 4

## 1. What exactly is []?

In [ ]:
a empty list, example a = []

## 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [6]:
## if we are going to assign in third place ,mean index 2.(by not deleting any value)
spam = [2,4,6,8,10]
## by insert operation 
spam.insert(2, 'hello') ##(index, new value)
spam

[2, 4, 'hello', 6, 8, 10]

In [7]:
## if we are goint replace (by deleting old value)
spam = [2,4,6,8,10]
spam[2] = 'hello'
spam

[2, 4, 'hello', 8, 10]

## Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

## 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [9]:
spam = ['a', 'b', 'c', 'd']

In [13]:
int('3' * 2) ## we are mutiplying '3' as string three times, it will results 33

33

In [12]:
int(int('3' * 2) / 11) #here '33' is changing str to int, by appying int

3

'raviraviraviraviravi'

In [17]:
spam[int(int('3' * 2) / 11)] ## 33/11 results 3, hence giving 3rd index value

'd'

## 4. What is the value of spam[-1]?

In [18]:
spam = ['a', 'b', 'c', 'd']

In [19]:
spam[-1] ## negetive index calls from last value

'd'

## 5. What is the value of spam[:2]?

In [20]:
spam = ['a', 'b', 'c', 'd']

In [22]:
spam[:2] #before :, it will consider as o th index, then it resuls till 1st index but not 2nd

['a', 'b']

## Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

In [4]:
bacon = [3.14, 'cat',11, 'cat', True ]

## 6. What is the value of bacon.index(&#39;cat&#39;)?

In [2]:
bacon.index('cat') ##returns the index of first occurrence of 'cat'

1

## 7. How does bacon.append(99) change the look of the list value in bacon?

In [3]:
## this append operation, Append the object to the end of the list.
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

## 8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [5]:
## remove operation, Remove first occurrence of value
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

## 9. What are the list concatenation and list replication operators?

In [ ]:
+ operator is the list concatenation
*  operator is the list replication 
Concatenation is done between the same data types only

In [9]:
## + operator is the list concatenation 
a = [1, 2]
b = [3, 4]
a+b

[1, 2, 3, 4]

In [13]:
## *  operator is the list replication 
a = [1, 2]
b = a*2
b

[1, 2, 1, 2]

## 10. What is difference between the list methods append() and insert()?

append()   :  Appends object to the end of the list

insert()   :  Insert object before index

In [1]:
## insert operation
spam = [2,4,6,8,10]
spam.insert(2, 'hello') ##(index, new value)
spam

[2, 4, 'hello', 6, 8, 10]

In [4]:
## append list
l = [1, 2, 3 , 4 , 5]
l.append(7)
l

[1, 2, 3, 4, 5, 7]

## 11. What are the two methods for removing items from a list?

remove() - removes first occurence of a item

pop() - Remove and returns item at index (default last).

In [11]:
l = [1, 2, "ineuron", "abc", 4 ,3, "ineuron", 5.5]
l.remove("ineuron")
l # firts occutrance of "ineuron" removed

[1, 2, 'abc', 4, 3, 'ineuron', 5.5]

In [13]:
l = [1, 2, "ineuron", "abc", 4 ,3, "ineuron", 5.5]
l.pop()
l

[1, 2, 'ineuron', 'abc', 4, 3, 'ineuron']

In [15]:
##if we give any index , the sane will remove, here for index 3 is "abc"
l = [1, 2, "ineuron", "abc", 4 ,3, "ineuron", 5.5]
l.pop(3)
l

[1, 2, 'ineuron', 4, 3, 'ineuron', 5.5]

## 12. Describe how list values and string values are identical.

1.String and List both behaves like a sequence

2.for both we can pass indexing operator & slice opration

In [20]:
s = "ineuron"
s[2]

'e'

In [21]:
s[0:3]

'ine'

In [17]:
l = ["ineuron", "ravi", 4, 6, 3.2]
l[2]

4

In [23]:
l[1:4]

['ravi', 4, 6]

3.Both lists and strings can be passed to len()

In [24]:
s = "ineuron"
len(s)

7

In [25]:
l = ["ineuron", "ravi", 4, 6, 3.2]
len(l)

5

4. both Can be concatenated or replicated

In [27]:
s = "ineuron"
s*2

'ineuronineuron'

In [28]:
s1 = "ineuron"
s2 = "fullstack"
s3 =s1+s2
s3

'ineuronfullstack'

In [30]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]

l3 =l1+l2
l3

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
l4 = l1*2
l4

[1, 2, 3, 4, 1, 2, 3, 4]

5.both Can be used with the in operators

In [34]:
s = "ineuron"

"n" in s

True

In [35]:
l = [1,2,3,4]

4 in l

True

## 13. What&#39;s the difference between tuples and lists?

a) List is a mutable data type, i.e., the list can be altered. Tuple is an immutable data type; i.e., the tuple value or structure can't be altered

b) List is good in the case of deletion and insertion operations, Tuple is helpful in the case of read-only operations

## 14. How do you type a tuple value that only contains the integer 42?

In [38]:
## we need to add comma after 42, otherwise it become int
t = (42,)

In [39]:
type(t)

tuple

In [40]:
#if we not add comma
m = (42)
type(m)

int

## 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [45]:
## by appling tuple function directly on the list. The list elements get converted to a tuple.

l = ["ineuron", "ravi", 4, 6, 3.2]
t = tuple(l)
print(t)
type(t)

('ineuron', 'ravi', 4, 6, 3.2)

tuple

In [46]:
## by appling list function directly on the tuple. The tuple elements get converted to a list.
t = ("abc", 34, 56, 2.5)
l = list(t)
print(l)
type(l)

['abc', 34, 56, 2.5]

list

## 16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

contain references to list values.

## 17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [ ]:
= is a operator used to create copy of an object

In [ ]:
##Shallow Copy
cop.copy() called as Shallow copy

In [61]:
## we import copy first insatance

##3 for single list

import copy

previous = [1,2,3,4]
latest = copy.copy (previous)

print("previous:", previous)
print("id of previous:", id(previous))

print("latest:", latest)
print("id of latest:", id(latest))

previous: [1, 2, 3, 4]
id of previous: 2036919867136
latest: [1, 2, 3, 4]
id of latest: 2036919630912

In [62]:
latest[2] = 500

In [63]:
previous, latest ##we changed one item in latest, but it's not changed in previous.

([1, 2, 3, 4], [1, 2, 500, 4])

In [64]:
## Nested List
previous = [[1,2,3,4], [4,5,6,7], [8,9,10,11]]
latest = copy.copy (previous)

print("previous:", previous)
print("id of previous:", id(previous))

print("latest:", latest)
print("id of latest:", id(latest))

previous: [[1, 2, 3, 4], [4, 5, 6, 7], [8, 9, 10, 11]]
id of previous: 2036925086912
latest: [[1, 2, 3, 4], [4, 5, 6, 7], [8, 9, 10, 11]]
id of latest: 2036920454016

In [65]:
latest [1][2] = 500

In [66]:
previous, latest ## when we change item of one list in nested list, it will refer to both side

([[1, 2, 3, 4], [4, 5, 500, 7], [8, 9, 10, 11]],
 [[1, 2, 3, 4], [4, 5, 500, 7], [8, 9, 10, 11]])

In [67]:
## append operation
previous.append([12,13,14,15])

In [68]:
previous, latest ##but in append opeartion we added new list, but it's not refering to another

([[1, 2, 3, 4], [4, 5, 500, 7], [8, 9, 10, 11], [12, 13, 14, 15]],
 [[1, 2, 3, 4], [4, 5, 500, 7], [8, 9, 10, 11]])

In [ ]:
##Deep Copy
copy.deepcop() is a Deep Copy

In [73]:
previous = [1,2,3,4]
latest = copy.deepcopy (previous)

In [74]:
print("previous:", previous)
print("id of previous:", id(previous))

print("latest:", latest)
print("id of latest:", id(latest))

previous: [1, 2, 3, 4]
id of previous: 2036921735296
latest: [1, 2, 3, 4]
id of latest: 2036921727168

In [75]:
latest[2] = 500

In [76]:
previous, latest ##we changed one item in latest, but it's not changed in previous. as same as shallow copy

([1, 2, 3, 4], [1, 2, 500, 4])

In [2]:
## Nested list

import copy

previous = [[1,2,3,4], [4,5,6,7], [8,9,10,11]]
latest = copy.deepcopy (previous)

print("previous:", previous)
print("id of previous:", id(previous))

print("latest:", latest)
print("id of latest:", id(latest))

previous: [[1, 2, 3, 4], [4, 5, 6, 7], [8, 9, 10, 11]]
id of previous: 2109103764480
latest: [[1, 2, 3, 4], [4, 5, 6, 7], [8, 9, 10, 11]]
id of latest: 2109103764864

In [3]:
latest [1][2] = 500

In [4]:
previous, latest## when we change item of one list in nested list in one list, it will not refer to another.

([[1, 2, 3, 4], [4, 5, 6, 7], [8, 9, 10, 11]],
 [[1, 2, 3, 4], [4, 5, 500, 7], [8, 9, 10, 11]])

In [5]:
latest .append([12,13,14,15])

In [7]:
previous, latest

([[1, 2, 3, 4], [4, 5, 6, 7], [8, 9, 10, 11]],
 [[1, 2, 3, 4], [4, 5, 500, 7], [8, 9, 10, 11], [12, 13, 14, 15]])

In [ ]:
## Conclusion

##sigle list - after creating a copy (deep or shallow), when we change item using index in anywhere it refers in both version of list in both shallow and deep copy

##Nested list - after creating a copy (deep or shallow), when we change item using index in sublist, it's not refers in both version of list in deep copy
### but in shallow copy it refers