# Python Basic Assignments - Assignment 1

## 1. In the below elements which of them are values or an expression

In [ ]:
Answers -

*   is expressions

'hello' is Values

-87.8  is Values

-  is expressions

/  is expressions

+  is expressions

6   is Values

## 2. What is the difference between string and variable?

Answers -

a)a string is a value representing text . a variable is a name, it can refer to any value

b)string itself varibale but not all varibales are string

c) a varibale assigned using quotess("" or '') are strings but any varible assigned using quote is may or may not.

d) if we consider some integer varibale in string  & number
    as string a ="5" , b = "5" print(a+b)##prints 55 -->  concatenation will be 55 for string
    as Number a ="5" , b = "5" print(a+b)##prints 10 -->  concatenation will be 10 for Number

## 3. Describe three different data types.

In [9]:
##Answer:
a = 2
b = 2.5
c = 3+ 2j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

Above output showing "Number Data Type", it's having numeric values
'int' is integers
'float' is ffloating point numbers
'complex' is complex number, as theoritically we use i, here instead of 'i', 'j' is using

In [11]:
d = "ineuron"
print(type(d))

<class 'str'>

'str' means above out put is showing "String Data Type"
in string sequence of characters are represented in the quotation marks

In [12]:
l = [12, 45, "ineuron", "ravi", 2.5, 3+4j]
print(type(l))

<class 'list'>

above output showing "List Data Type"
list  is data type having diffrent types of element (we can notice in above example having both number and string)
we create list using sqaure [] brackets, and elements we seperate with comma(,).
list is mutable one mean editable, we can perform like index, slice operation etc..

In [13]:
t = (12, 45, "ineuron", "ravi", 2.5, 3+4j)
print(type(t))

<class 'tuple'>

above output showing "Tuple Data Type"
in above example i used same elements in list,  here tuple is immutable & we store elements in Parentheses ().
here also we can perform like index, slice operation etc..

In [14]:
s = {12, 45, "ineuron", "ravi", 2.5, 3+4j}

In [15]:
type(s)

set

above output showing "Set Data Type"
set data type also collection of the elements of diffrent data types as asme as list and tuple..
but set is immutable as asem as tuple, its un order and store unique elements (mean doesn't allow same eleement inside)
elements in set place in flower bracket {}                                                                              

As per my understanding                                                                              
having un order nature, it does not allow indexing and slice opration
Allowing only unique elements  it will not support concatenation(+) and repetition (*) .

In [17]:
m = {"instituion": "ineuron", "course":"Fullstack", "fee": 17500, "oneneuron": 6700.25}

In [19]:
print(type(m))

<class 'dict'>

above output showing "Dictionary Data Type"

Dictionary is collection of diffrent data types and having key-value pairs.
it's mutable and stores unique keys

## 4. What is an expression made up of? What do all expressions do?

Answer:
    
    Expression is combination of operand and operators. (ie.Operand: variable or constant, Operator: like arthematic)
    
    All expressions evaluate or reduce to a single value

## 5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

a) Expression evaluates or reduces to single value , mean give result value.

eg. 5*5 #yields 25

b) statement is just a command or action. never return value, these are instructions to execute the function.

eg. x = 2, spam = 10, print('hello')

### 6.After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [31]:
##Answer
bacon = 22

In [32]:
bacon + 1

23

In [33]:
bacon ## Fimnal answer

22

bacon varible will be remais same(22). bacon + 1 expression does not reassign the value in bacon.
(if we applied  bacon = bacon + 1 statement, then bacon variable will change)

## 7.What should the values of the following two terms be?

'spam'+'spamspam'

'spam'*3

In [25]:
#Answers:
'spam'+'spamspam'

'spamspamspam'

In [24]:
'spam'*3

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
Answer:
    if we writter above statement is 100 = "eggs"

In [34]:
100 = "eggs" ## if we run this, it show it's invalid , beacusae Varibale names cannot begin with number

SyntaxError: cannot assign to literal (<ipython-input-34-48580e45c176>, line 1)

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer:

The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

In [37]:
#Example:  
a = 5
b = 2.5
c = "10"

In [38]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [39]:
# in above we can convert b (float) and c (str) into int
d = int(b)
e = int(c)

In [40]:
print(type(d))
print(type(e))
## both will become int

<class 'int'>
<class 'int'>

In [41]:
# from first example we can convert a (int) and c (str) into float
f = float(a)
g = float(c)

In [42]:
print(type(f))
print(type(g))
## both will become float

<class 'float'>
<class 'float'>

## 10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 +'burritos.'

In [43]:
'I have eaten'+ 99 +'burritos.'

TypeError: can only concatenate str (not "int") to str

we can concatenate  str with other str, but not with int, here 99 is the int, we need to fix this, need to change 99 as string.

In [44]:
##Fixing
'I have eaten'+ str("99") +'burritos.'

'I have eaten99burritos.'

Now fixed